@charset "utf-8";
/*公共样式*/
.relative {
  position: relative;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.col {
  flex: 1;
}

.padding {
  padding: 15px 15px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-5 {
  margin-right: 5px;
}
.mr-15 {
  margin-right: 15px;
}

.mr-30 {
  margin-right: 30px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-30 {
  padding-right: 30px;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

input:focus {
  outline: none;
}

.message {
  position: fixed;
  top: -50px;
  left: 10%;
  right: 10%;
  padding:  15px 15px;
  background: #fff;
  opacity: 0.9;
  border-radius: 6px;
  text-align: center;
}

.message.error {
  color: red;
}

.zhd-keyboard {
  display: none;
  position: fixed;
  width: 550px;
  height: 456px;
  /* top: 15px; */
  /* left: 15px; */
  bottom: 15px;
  right: 15px;
  /* background: #fff; */
  /* opacity: 0.8; */
  z-index: 100;
}

.zhd-keyboard .wrap {
  position: relative;
  width: 100%;
  height: inherit;
  z-index: 20;
}

.zhd-keyboard .wrap .bg {
  background: #fff;
  position: absolute;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px;
}

.zhd-keyboard .row {
  height: 114px;
}

.zhd-keyboard .col {
  display: flex;
  justify-content: center;
}

.zhd-keyboard .num-wrap {
  display: inline-block;
  width: 157px;
  height: 86px;
  box-sizing: border-box;
}

.zhd-keyboard .num-wrap .num {
  width: 100%;
  height: 84px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 38px;
  font-weight: bold;
}
.zhd-keyboard .num-wrap .num:hover {
  cursor: pointer;
}
.zhd-keyboard .num-wrap .num span {
  color: #262626;
}

.zhd-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

.zhd-modal .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}

.zhd-modal .content {
  position: absolute;
  width: 600px;
  height: 370px;
  background: #fff;
  z-index: 10;
  opacity: 0;
  transform: scale(0);
  border-radius: 6px;
  box-sizing: border-box;
  top: calc((100% - 370px) / 2);
  left: calc((100% - 600px) / 2);
}

.zhd-modal .content .title {
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #64819e;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
}

.zhd-modal .content .modal-btn {
  width: 210px;
  height: 74px;
  display: inline-block;
  text-align: center;
  padding-top: 18px;
  box-sizing: border-box;
  font-size: 28px;
  background-repeat: no-repeat;
  background-size: cover;
}

.zhd-modal .content .modal-btn:hover {
  cursor: pointer;
}

.zhd-modal .content .modal-btn.confirm {
  background-image: url('../img/modal_confirm.png');
  color: #fff;
  margin-left: 60px;
  margin-right: 60px;
}

.zhd-modal .content .modal-btn.cancel {
  background-image: url('../img/modal_cancel.png');
  color: #64819e;
}

.zhd-loading {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
}

.zhd-loading .bg{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #000;
  opacity: 0.6;
}

.zhd-loading .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}