@charset "utf-8";
/*公共样式*/
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.row-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.col {
  flex: 1;
}

.padding {
  padding: 15px 15px;
}

.mt-15 {
  margin-top: 15px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-15 {
  margin-left: 15px;
}

.mr-5 {
  margin-right: 5px;
}
.mr-15 {
  margin-right: 15px;
}

.mr-30 {
  margin-right: 30px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-30 {
  padding-right: 30px;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

input:focus {
  outline: none;
}

.message {
  position: fixed;
  top: -50px;
  left: 10%;
  right: 10%;
  padding: 15px 15px;
  background: #fff;
  opacity: 0.9;
  border-radius: 6px;
  text-align: center;
}

.message.error,
.c-red {
  color: red;
}

.bg-yellow {
  background: #f39800 !important;
}
.bg-blue {
  background: #005bac !important;
}

.c-white {
  color: #fff;
}

/**
* ============================ 吊秤数字键盘 ============================
*/
.zhd-keyboard {
  display: none;
  position: fixed;
  width: 550px;
  height: 456px;
  /* top: 15px; */
  /* left: 15px; */
  bottom: 15px;
  right: 15px;
  /* background: #fff; */
  /* opacity: 0.8; */
  z-index: 100;
}

.zhd-keyboard .wrap {
  position: relative;
  width: 100%;
  height: inherit;
  z-index: 20;
}

.zhd-keyboard .wrap .bg {
  background: #fff;
  position: absolute;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 10px;
}

.zhd-keyboard .row {
  height: 114px;
}

.zhd-keyboard .col {
  display: flex;
  justify-content: center;
}

.zhd-keyboard .num-wrap {
  display: inline-block;
  width: 157px;
  height: 86px;
  box-sizing: border-box;
}

.zhd-keyboard .num-wrap .num {
  width: 100%;
  height: 84px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 38px;
  font-weight: bold;
}
.zhd-keyboard .num-wrap .num:hover {
  cursor: pointer;
}
.zhd-keyboard .num-wrap .num span {
  color: #262626;
}

/**
* ============================ 模态框 ============================
*/

.zhd-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}

.zhd-modal .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}

.zhd-modal .content {
  position: absolute;
  width: 600px;
  height: 370px;
  background: #fff;
  z-index: 10;
  opacity: 0;
  transform: scale(0);
  border-radius: 6px;
  box-sizing: border-box;
  top: calc((100% - 370px) / 2);
  left: calc((100% - 600px) / 2);
}

.zhd-modal .content .title {
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #64819e;
  box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
}

.zhd-modal .content .modal-btn {
  width: 210px;
  height: 74px;
  display: inline-block;
  text-align: center;
  padding-top: 18px;
  box-sizing: border-box;
  font-size: 28px;
  background-repeat: no-repeat;
  background-size: cover;
}

.zhd-modal .content .modal-btn:hover {
  cursor: pointer;
}

.zhd-modal .content .modal-btn.confirm {
  background-image: url('../img/modal_confirm.png');
  color: #fff;
  margin-left: 60px;
  margin-right: 60px;
}

.zhd-modal .content .modal-btn.cancel {
  background-image: url('../img/modal_cancel.png');
  color: #64819e;
}

/**
* ============================ 页面加载 ============================
*/

.zhd-loading {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
}

.zhd-loading .bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #000;
  opacity: 0.6;
}

.zhd-loading .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

/**
* ============================ 选择车牌号组件 ============================
*/
.zhd-carno {
  position: absolute;
  background: #fff;
  z-index: 9999;
  box-sizing: border-box;
}

.zhd-carno .zhd-carno-filter {
  position: relative;
  box-sizing: border-box;
  flex: 0 0 200px;
  padding: 15px 15px;
}

.zhd-carno .zhd-carno-filter.up-arrow::after {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #fff;
  top: -11px;
  right: 20px;
}
.zhd-carno .zhd-carno-filter .sub-title {
  color: #888;
  font-size: 14px;
  margin-top: 5px;
}

.zhd-carno .zhd-carno-filter .list {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 10px;
}
.zhd-carno .zhd-carno-filter .list.middle {
  max-height: 200px;
}
.zhd-carno .zhd-carno-filter .list .item {
  line-height: 35px;
  font-size: 20px;
}

.zhd-carno .zhd-carno-filter .list .item .cbx {
  flex: 0 0 40px;
}

.zhd-carno .zhd-carno-filter .list .item .cbx > img {
  width: 27px;
  height: 27px;
}
.zhd-carno .zhd-carno-filter.right-line {
  border-right: 1px solid #ddd;
}

.zhd-carno .zhd-carno-add {
  flex: 1;
  box-sizing: border-box;
  padding: 10px 15px;
  position: relative;
}

.zhd-carno .zhd-carno-add.up-arrow::after {
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #fff;
  top: -11px;
  left: 45%;
}

.zhd-carno .zhd-carno-add .add-btn {
  width: 106px;
  height: 50px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  letter-spacing: 3px;
  font-size: 20px;
  background-image: url('../img/btnd.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.zhd-carno-keyboard {
  background: #eee;
  /*z-index: 9999;
  position: fixed; */
  /* bottom: 0; */
  /* left: 0; */
  /* right: 0; */
  /* padding: 10px 10%; */
  padding: 10px 0px;
}
.zhd-carno-keyboard .key-item {
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  margin: 6px;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
  background: #fff;
}

.zhd-carno-keyboard .key-item:active,
.zhd-carno-keyboard .key-item.num:active {
  background: rgba(238, 238, 238, 0.9);
  color: #fff;
}

.zhd-carno-keyboard .key-item.num {
  width: 120px;
  font-size: 35px;
}
.zhd-carno-keyboard .key-item.close {
  cursor: pointer;
}

.zhd-carno-keyboard .content {
  justify-content: center;
  width: 900px;
  margin: 0 auto;
}
