@charset "utf-8";

/*首页样式*/
.main-bg {
  background-image: url('../img/bg.png');
  background-size: cover;
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-head {
  padding: 15px 15px;
  position: relative;
  color: #fff;
  font-size: 40px;
}

.main-head .main-brand {
  padding-left: 30px;
  flex: 1;
}

.main-body {
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main-body .count-btn {
  height: 80px;
  width: 473px;
  display: flex;
  background-image: url('../img/jj.png');
  background-size: cover;
}

.main-body .count-btn .col {
  height: 80px;
}

.main-body .top-section,
.main-body #topEmployee {
  width: 1300px;
  margin: 0 auto;
  color: #fff;
}

.main-body .table-wrap,
.main-body .table {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
}

.main-body .table-wrap {
  background: #000;
  opacity: 0.2;
}

.main-body .table {
  z-index: 20;
  overflow: auto;
}

.main-body .table .crane-btn {
  background-image: url('../img/ck.png');
  background-size: cover;
  width: 91px;
  height: 52px;
  display: inline-block;
  padding-top: 14px;
  position: relative;
  z-index: 20;
  box-sizing: border-box;
}

.main-body .table::-webkit-scrollbar {
  width: 20px;
  height: 10px;
}

/*滚动条里面小方块*/
.main-body .table::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
  background: rgba(113, 140, 177, 0.8);
}

.main-body .table::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  /*-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);*/
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.main-body .table::-webkit-scrollbar-corner {
  display: none;
}

.main-body .table .active-rect {
  position: absolute;
  z-index: -1;
  left: 2px;
  /*top: 68px;*/
  height: 68px;
  width: calc(100% - 3px);
  background: rgba(53, 184, 255, 0.9);
  /* border-width: 3px solid #fff; */
  /* box-shadow: 0 0px 10px #ff; */
  border-radius: 3px;
}

.main-body .table .row .grid,
.main-body .table .tr .td {
  flex: 0 0 168px;
  font-weight: bold;
}
.main-body .table .row .grid:last-child,
.main-body .table .tr .td:last-child {
  flex: 1;
}

.main-body .table .th {
  font-size: 24px;
  padding: 15px 0px;
}

.main-body .table .tr {
  height: 68px;
  position: relative;
}

.main-body .float-title {
  position: absolute;
  top: 0px;
  left: -120px;
  font-size: 24px;
  color: #fff;
}

.main-body .weight {
  height: 80px;
  width: 507px;
  display: inline-block;
  background-image: url('../img/gjk.png');
  background-size: cover;
  padding: 15px 15px;
  box-sizing: border-box;
  font-size: 36px;
  color: #fff;
  text-align: center;
}

.main-body .weight-btn {
  height: 207px;
  width: 293px;
  position: relative;
  z-index: 20;
  background-image: url('../img/dl.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  box-sizing: border-box;
}
.main-body .weight-btn span {
  margin-bottom: 18px;
}

.main-body .employ-bar {
  height: 70px;
  position: relative;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.main-body .employ-bar .employ-cbx {
  height: 60px;
  width: 60px;
  display: inline-block;
  text-align: center;
  background-image: url('../img/cb.png');
  background-size: cover;
  font-size: 20px;
  font-weight: bold;
  padding-top: 12px;
  box-sizing: border-box;
  color: #fff;
  margin-right: 30px;
}

.main-body .employ-bar .employ-cbx.checked {
  background-image: url('../img/cbd.png');
}

.main-body .bottom {
  width: 1600px;
  margin: 0 auto;
  height: 159px;
  display: inline-block;
  background-image: url('../img/tz.png');
  background-size: cover;
}

.main-body .bottom .section {
  width: 1400px;
  margin: 0 auto;
  position: relative;
  bottom: -69px;
  z-index: 30;
}

.main-body .bottom .bottom-btn {
  width: 320px;
  height: 81px;
  background-image: url('../img/btn.png');
  background-size: cover;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 34px;
  padding-top: 16px;
  box-sizing: border-box;
}

.main-btn {
  width: 128px;
  height: 60px;
  display: inline-block;
  background-image: url('../img/tjk.png');
  background-size: cover;
  font-size: 24px;
  text-align: center;
  padding-top: 12px;
  box-sizing: border-box;
}

.main-close {
  width: 55px;
  height: 60px;
  display: inline-block;
  background-image: url('../img/gb.png');
  background-size: cover;
}

.main-close:hover {
  cursor: pointer;
}

.main-ipt {
  /* width: 491px; */
  width: 222px;
  height: 63px;
  display: inline-block;
  /* background-image: url('../img/tdk.png'); */
  background-image: url('../img/tdkn.png');
  background-size: cover;
  font-size: 24px;
  box-sizing: border-box;
  padding: 15px 15px;
}

.main-ipt input,
.main-body .count-btn input {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0px;
  height: 31px;
  width: 100%;
  font-size: 24px;
  color: #fff;
}

.main-body .count-btn input {
  height: 50px;
  font-size: 34px;
}

.main-btn:hover {
  cursor: pointer;
}

.weight-btn-top-part {
  height: 38px;
  box-sizing: border-box;
}
.weight-btn-top-part .cbx {
  flex: 0 0 35px;
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  background-image: url('../img/wxz.png');
  background-size: cover;
  margin-bottom: 5px;
}
.weight-btn-top-part .cbx.checked {
  background-image: url('../img/xzz.png');
}

.weight-btn-top-part .cbx input[type='checkbox'] {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 8px;
  right: 0;
  bottom: 0;
  z-index: 20;
}

.arrow-container::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 18px solid #fff;
  right: 15px;
  top: 26px;
}

.flex-120 {
  flex: 0 0 120px;
}
