doctype html
html(lang="en")
  head
    title= pageTitle
    meta(charset="utf-8")
    block css
      link(href="/css/common.css", rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="/lib/bluebird.min.js")
    script(src="/js/request.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.6/lodash.min.js")
    script(src="/js/common.js")
  body.relative
    .zhd-loading
      .bg
      .content
    .zhd-keyboard
      .wrap
        .bg
        .row
          .col
            .num-wrap
              .num(data-index="7")
                span 7
          .col
            .num-wrap
              .num(data-index="8")
                span 8
          .col
            .num-wrap
              .num(data-index="9")
                span 9
        .row
          .col
            .num-wrap
              .num(data-index="4")
                span 4
          .col
            .num-wrap
              .num(data-index="5")
                span 5
          .col
            .num-wrap
              .num(data-index="6")
                span 6
        .row
          .col
            .num-wrap
              .num(data-index="1")
                span 1
          .col
            .num-wrap
              .num(data-index="2")
                span 2
          .col
            .num-wrap
              .num(data-index="3")
                span 3
        .row
          .col
            .num-wrap
              .num(data-index="0")
                span 0
          .col
            .num-wrap
              .num(data-index="11")
                span(style="transform: rotate(180deg)") →
          .col(style="flex-direction: column;")
            .num-wrap
              .num(data-index="13")
                span 确定
            //- .num-wrap(style="height: 38px;")
            //-   .num(data-index="12", style="height: 38px")
            //-     span(style="font-size: 30px") 清除
            //- .num-wrap(style="height: 38px; margin-top: 5px")
            //-   .num(data-index="13", style="height: 38px")
            //-     span(style="font-size: 30px") 确定
    block content
    block scripts


